*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.cover{
    width: 100%;
    height: 100vh;
}
.con{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;}

.one{
    width: 100%;
    height: 80%;}
.one .img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 50%;
    background: url("/img/new-sec44.png")no-repeat center
    center/cover;
}
.two{
    width: 100%;
    height: 80%;}

.two .txt{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.two h1{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 55px;
    color: #00557D;

}
.two p{
     margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #212121;

}
@media screen and (max-width: 768px){
    .con{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;   
    }
    .one{
        width: 100%;
        height: 80%;  
    }
    .one .img{
        width: 100%;
        height: 100%;
        border-top-right-radius: 50%;
        background: url("/img/new-sec44.png")no-repeat center
    center/cover;
    }
    .two{
        width: 90%;
        height: 80%;
        margin-left:10px ;
    }
    .two .txt{
        width: 90%;
        height: 100%;
        padding-left: 10%;
        display: flex;
        flex-direction: column; 
    }
    .two h1{
        font-family: 'Nunito';
        font-size: 32px;
        text-align: center;
    
    }
    .two p{
        font-family: 'Poppins';
        margin-top: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width: 477px){
    .con{
        width: 90%;
        height: 100%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .one{
        width: 100%;
        height: 100%;
    }
    .one .img{
        width: 100%;
        height: 100%;
        border-top-right-radius: 50%;
        background: url("/img/new-sec44.png")no-repeat center
    center/cover;
    }
    .two{
        width: 100%;
        height: 50%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
.two h1{
    width: 100%;
    font-family: 'Nunito';
    font-size: 32px;
}
.two p{
    width: 100%;
    font-family: 'Poppins';
    margin-top: 1rem;
    font-size: 16px;
}